* {
  border: none;
  border-radius: 14px;
}

window {
  font-size: 18px;
  font-family: Maple Mono;
  color: #d8cab8;
  background-color: rgba(11, 3, 65, 0.91);
 
}

#input {

  color: white;
  background-color: rgba(23, 61, 150, 0.4);
  padding: 0.25em;
}

#entry { 
  padding: 0.25em;
}

#entry:selected {
  padding: 0.25em;
  background-color: rgba(80, 140, 220, 0.8); /* lighter blue highlight */
  color: #ffffff; /* white text for contrast */
}

#text:selected {

  color: #ffffff;
}


#img {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

