* {
  font-family: Maple Mono;
  color: #d8cab8;
}

window {
  color: #d8cab8;
  border-color: #d8cab8;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(41, 131, 197, 0.68);
  border-radius: 14px;
  font-size:28px;
}
